@model IEnumerable<DataAccess.Entities.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Product List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.ActionLink("Product Details", "Details", new { id = product.ID })</td>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.Price</td>
                <td>
                    @using (Html.BeginForm("Delete", "Product", new {id = product.ID}))
                {
                    <input type="submit" value="Delete"/>
                }
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("Add New Product", "Add")